In [1]:
import pandas as pd

In [3]:
# Variables
filename = 'time_series_data.csv'
datetime = 'DateTime'
tagname = 'TagName'
value = 'Value'

In [2]:
try:
    df = pd.read_csv(filename)
except Exception as e:
    raise e
print("df.shape: ", df.shape)
df.head(5)

df.shape:  (1025999, 3)

  DateTime       TagName      Value
0  00:00.0      Pressure  60.862499
1  00:00.0     Bar Angle  38.530838
2  00:00.0  RS4R4 Height   0.373240
3  00:00.0      Pressure  60.937500
4  00:00.2     Bar Angle  38.577522

In [20]:
df[tagname].unique().tolist()

array(['Pressure', 'Bar Angle', 'RS4R4 Height', nan], dtype=object)

In [47]:
df1 = df.drop_duplicates(subset=[datetime,tagname]).dropna().copy()
print(df1.shape)
# df_pivot = df1.pivot(index=datetime, columns=tagname, values=value).reset_index() # [datetime, ]
df_pivot = pd.pivot_table(df1,index=[datetime], columns=tagname, values=[value])

print("df_pivot.shape: ", df_pivot.shape)
# df_pivot = df_pivot.drop([tagname], axis=1)
# print("df_pivot.shape: ", df_pivot.shape)
df_pivot.head(5)

(107995, 3)
df_pivot.shape:  (36000, 3)

              Value
TagName   Bar Angle   Pressure RS4R4 Height
DateTime
00:00.0   38.530838  60.862499     0.373240
00:00.1   24.827715  63.862499     0.367146
00:00.2   38.577522  67.087502     0.380824
00:00.3   30.103292  59.325001     0.405926
00:00.4   40.468254  69.487503     0.367880

In [44]:
# df_pivot.rename(columns={tagname: 'index'}) # .drop([tagname], axis=1)

In [45]:
df_pivot

TagName DateTime  Bar Angle    Pressure  RS4R4 Height
index
0        00:00.0  38.530838   60.862499      0.373240
1        00:00.1  24.827715   63.862499      0.367146
2        00:00.2  38.577522   67.087502      0.380824
3        00:00.3  30.103292   59.325001      0.405926
4        00:00.4  40.468254   69.487503      0.367880
...          ...        ...         ...           ...
35995    59:59.5  31.591225   63.037498      0.365850
35996    59:59.6  49.600544   59.174999      0.368818
35997    59:59.7  45.665257  102.525002      0.381412
35998    59:59.8  48.228031   65.699997      0.366440
35999    59:59.9  20.098412  104.700005      0.375993

[36000 rows x 4 columns]